{# 
    caseDataId: <string>,
    taskGroupId: <string>,
    active: <boolean>
#}
{% macro appCaseDetailsTabNavigation(params) %}
  {%- include "./case-details-tab-navigation.template.njk" -%}
{% endmacro %}
