{% extends "layouts/case-layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block contentHeader %}
  {{
    govukBreadcrumbs({
      items: breadcrumbs
    })
  }}
{% endblock %}

{% block contentMain %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      {{ govukSummaryList(data.summary) }}

      {% if data.showEditRoles %}
        <div class="govuk-button-group govuk-!-margin-top-8">
          {{
            govukButton({
              text: "Update roles",
              href: data.editRolesHref,
              classes: "govuk-button--secondary"
            })
          }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
