{% extends "layouts/case-layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "user-management/user-roles-table/macro.njk" import userRolesTable %}

{% block contentHeader %}
  {{ govukBreadcrumbs({ items: breadcrumbs }) }}
{% endblock %}

{% block contentMain %}
  <h1 class="govuk-heading-l">{{ data.userName }} roles</h1>

  <p class="govuk-body">
    Leave the start date blank for the role to start immediately. Leave the end
    date blank for the role to go on indefinitely.
  </p>
  <p class="govuk-body">Date format is 12/09/2025</p>

  <form action="{{ data.formAction }}" method="post">
    {{ userRolesTable({ heading: "Selected roles", roles: data.selectedRoles, errors: errors }) }}

    {{ userRolesTable({ heading: "Unselected roles", roles: data.unselectedRoles, errors: errors }) }}

    {{ govukButton({ text: "Save" }) }} <br />

    {{ govukButton({ text: "Check, edit or create roles", href: data.rolesHref, classes: "govuk-button--secondary" }) }}
    <br />
    <a class="govuk-link" href="{{ data.cancelHref }}">Cancel and return</a>
  </form>
{% endblock %}
