{% extends "./case-layout.njk" %}
{% from "../components/case-summary/macro.njk" import caseSummary %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set navigation = data.links or links %}

{% block contentHeader %}
  {% if data.case %}
    {{ caseSummary(data.case) }}
  {% elif data %}
    {{ caseSummary(data) }}
  {% endif %}
{% endblock %}

{% block contentNavigation %}
  {{ govukServiceNavigation({ navigation: navigation, classes: "govuk-!-margin-bottom-6" }) }}
{% endblock %}

{% block contentMain %}
{% endblock %}
