{% extends "govuk/template.njk" %}
{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{# Import custom components globally #}
{% from "heading/macro.njk" import heading %}
{% from "defra-heading/macro.njk" import defraHeading %}
{% from "../components/flash-notifications/macro.njk" import flashNotifications %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block head %}
  <link
    href="{{ getAssetPath('stylesheets/application.scss') }}"
    rel="stylesheet"
  />
{% endblock %}

{% block header %}
  {{
    defraHeading({
      serviceName: "Manage rural grant applications",
      navItems: header.navItems
    })
  }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
  | {{ serviceName }}
{% endblock %}

{% block content %}
  {% block contentHeader %}
  {% endblock %}

  {% block contentNotifications %}
    {{ flashNotifications(notification) if notification }}
  {% endblock %}

  {% block contentErrors %}
    {% if errorList and errorList.length > 0 %}
      {{
        govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
        })
      }}
    {% endif %}
  {% endblock %}

  {% block contentNavigation %}
  {% endblock %}

  {% block contentMain %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {{
    govukFooter({
      navigation: [],
      meta: {
        items: [
          {
            href: "https://www.gov.uk/help/privacy-notice",
            text: "Privacy"
          },
          {
            href: "https://www.gov.uk/help/cookies",
            text: "Cookies"
          },
          {
            href: "https://www.gov.uk/help/accessibility-statement",
            text: "Accessibility statement"
          }
        ]
      }
    })
  }}
{% endblock %}

{% block bodyEnd %}
  <script>
    document.body.className +=
      " js-enabled" +
      ("noModule" in HTMLScriptElement.prototype
        ? " govuk-frontend-supported"
        : "");
  </script>
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
  <script type="module" src="{{ getAssetPath('govuk.js') }}"></script>
  <script type="module" src="{{ getAssetPath('moj.js') }}"></script>
  <script type="module">
    import { initSelectAllCheckboxes } from "{{ getAssetPath('checkboxes.js') }}";
    import { initAll } from "{{ getAssetPath('govuk.js') }}";
    import { initAll as initMOJ } from "{{ getAssetPath('moj.js') }}";
    initSelectAllCheckboxes();
    initAll();
    initMOJ();
  </script>
{% endblock %}
