{# 
    caseId: <string>,
    stage: {
        title: <string>,
        groups: <array of task groups>,
        actions: <array of action buttons>
    }
#}

{% macro appTaskGroups(params) %}
  {%- include "./task-group.template.njk" -%}
{% endmacro %}
