{# 
    id: <string>,
    label: <string>,
    name: <string>,
    value: <string>,
    suffix: <string> (optional)
#}

{% macro customCheckbox(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
