<div class="timeline__description">
  {% if params.eventType == "NOTE_ADDED" %}
    <!-- TODO  note link? -->
    <a class="govuk-link" href="/notes">View note</a>
  {% endif %}

  {% if params.commentRef %}
    <p>
      <a
        href="/cases/{{ params.caseId }}/notes/?selectedNoteRef={{ params.commentRef }}#note-{{ params.commentRef }}"
        >View note</a
      >
    </p>
  {% endif %}
</div>
