{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "../taskList/macro.njk" import appTaskList %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2
      class="govuk-heading-l govuk-!-margin-top-6"
      data-testid="stage-heading"
    >
      {{ params.stage.title }}
    </h2>
    {% for group in params.stage.groups %}
      <h3 class="govuk-heading-m">{{ loop.index }}. {{ group.title }}</h3>
      {{ appTaskList({tasks: group.tasks}) }}
    {% endfor %}
  </div>
</div>
