{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {% for action in params.buttons %}
    <form method="POST" id="updateStageForm">
      <button
        type="submit"
        data-prevent-double-click="true"
        class="govuk-button"
        data-module="govuk-button"
        data-govuk-button-init=""
        formaction="{{ "/case/" + params.caseId }}"
      >
        {{ action.label }}
      </button>
    </form>
    {# <script>
      {
        const form = document.getElementById("updateStageForm");
        const valid = {{ params.tasksComplete }}
        form.onsubmit = function(event) { 
          if(!valid) { 
            event.preventDefault(); 
            return valid;  
          }
        }
      }
    </script> #}
  {% endfor %}
</div>
