{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<form method="POST" action="/cases/{{ params.caseId }}/stage/outcome">
  {% set radiosItems = [] %}
  {% for item in params.stage.actions.items %}
    {% if item.conditional %}
      {%
        set radioItem = {
          value: item.value,
          text: item.text,
          checked: item.checked,
          conditional: { html: govukTextarea(item.conditional) }
        }
      %}
      {% set radiosItems = (radiosItems.push(radioItem), radiosItems) %}
    {% else %}
      {%
        set radioItem = {
          value: item.value,
          text: item.text,
          checked: item.checked
        }
      %}
      {% set radiosItems = (radiosItems.push(radioItem), radiosItems) %}
    {% endif %}
  {% endfor %}

  {% if params.stage.actions.items.length === 1 %}
    {{
      govukButton({
        name: params.stage.actions.name,
        text: params.stage.actions.items[0].text,
        value: params.stage.actions.items[0].value,
        disabled: params.stage.actionsDisabled
      })
    }}
  {% else %}
    {{
      govukRadios({
        idPrefix: params.stage.actions.idPrefix,
        name: params.stage.actions.name,
        errorMessage: params.stage.actions.errorMessage,
        fieldset: {
          legend: {
            text: params.stage.actions.legend,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: radiosItems
      })
    }}
    {{
      govukButton({
        text: "Save",
        disabled: params.stage.actionsDisabled
      })
    }}
  {% endif %}
</form>
