@use "govuk-frontend" as *;

.app-case-banner {
  background-color: #e7f4eb;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: govuk-spacing(-7);
}

.app-case-banner__top {
  display: flex;
  justify-content: space-between;
}

.app-case-banner__title {
  display: inline-block;
}

.app-case-banner__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: govuk-spacing(4);
  padding-top: govuk-spacing(3);
}

.app-case-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: govuk-spacing(3);
}

.app-case-cell {
  display: flex;
  align-items: center;
}
