<div class="app-case-summary">
  <h3 class="govuk-heading-m">{{ params.case.clientRef }}</h3>
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Code</dt>
      <dd class="govuk-summary-list__value">{{ params.case.code }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Status</dt>
      <dd class="govuk-summary-list__value">{{ params.case.status }}</dd>
    </div>
  </dl>
</div>
