{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "checkbox/macro.njk" import checkbox %}

{% macro radio(params) %}
  {% set id = "caseId-" + params.value %}
  <div class="govuk-radios__item">
    <input
      class="govuk-radios__input"
      id="{{ id }}"
      name="{{ params.name }}"
      type="radio"
      value="{{ params.value }}"
      aria-label="Select case ID {{ params.value }}"
    /><label class="govuk-label govuk-radios__label" for="{{ id }}">
      <span class="govuk-visually-hidden">
        Select case ID {{ params.value }}
      </span>
    </label>
  </div>
{% endmacro %}

{% macro idLink(href, text) %}
  <a href="{{ href }}" class="govuk-link govuk-!-font-weight-bold"
    >{{ text }}</a
  >
{% endmacro %}

{% set tableRows = [] %}
{% for row in params.data.rows %}
  {%
    set processedRow = [
      { html: radio({ name: "caseId", value: row.select.value }) },
      { html: idLink(row.id.href, row.id.text) },
      row.business,
      row.sbi,
      row.submitted,
      { html: govukTag(row.status) },
      row.assignee
    ]
  %}
  {% set tableRows = (tableRows.push(processedRow), tableRows) %}
{% endfor %}

<form method="GET" action="/cases/assign-user">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-visually-hidden">
      <h1>Cases</h1>
    </legend>

    {{
      govukButton({
        text: "Assign"
      })
    }}

    {{
      govukTable({
        head: params.data.head,
        rows: tableRows
      })
    }}
  </fieldset>
</form>
