{# 
    tabLabel: <string>,
    tabTestId: <string>,
    tableHeaders: <table headers>,
    data: <table data>
#}

{% macro appCaseListTab(params) %}
    {%- include "./template.njk" -%}
{% endmacro %}