<div class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button
          type="button"
          class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
          aria-controls="navigation"
          hidden
        >
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          {% for item in navigation %}
            <li
              class="govuk-service-navigation__item {% if item.isActive %}govuk-service-navigation__item--active{% endif %}"
            >
              <a class="govuk-service-navigation__link" href="{{ item.url }}">
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
