{# 
    buttons: [
      label: <string>,
      testId: <string>,
      nextStage: <string>
    ],
    stageId: <string>,
    caseId:
#}

{% macro appStageActionButtonGroup(params) %}
  {%- include "./stage-action-button-group.template.njk" -%}
{% endmacro %}
