{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {% for action in params.buttons %}
    <form method="POST">
      <button
        type="submit"
        data-prevent-double-click="true"
        class="govuk-button"
        data-module="govuk-button"
        data-govuk-button-init=""
        formaction="{{ "/cases/" + params.caseId }}"
        {% if params.allTasksComplete !== true %}disabled{% endif %}
      >
        {{ action.label }}
      </button>
    </form>
  {% endfor %}
</div>
