{% macro defraParagraph(params) %}
  {%- set value = params.text or '' %}
  {%- set classes = params.classes or 'govuk-body' %}
  {%- set id = params.id or '' %}

  <p{% if id %} id="{{ id }}"{% endif %}{% if classes %} class="{{ classes }}"{% endif %}>{{ value | escape }}</p>
{% endmacro %}
