{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro defraStatus(params) %}
  {%- set value = params.text or '' %}
  {%- set classesMap = params.classesMap or {} %}
  {%- set labelsMap = params.labelsMap or {} %}
  {%- set colour = params.colour or '' %}
  {%- set theme = params.theme or '' %}
  {%- set additionalClasses = params.classes or '' %}
  {%- set attributes = params.attributes or {} %}

  {%-
    set themeClasses = {
      "NEUTRAL": "govuk-tag--grey",
      "INFO": "govuk-tag--light-blue",
      "NOTICE": "govuk-tag--yellow",
      "ERROR": "govuk-tag--red",
      "WARN": "govuk-tag--orange",
      "SUCCESS": "govuk-tag--green"
    }
  %}

  {%- if theme and themeClasses[theme] %}
    {%- set baseClasses = themeClasses[theme] %}
  {%- elif classesMap[value] %}
    {%- set baseClasses = classesMap[value] %}
  {%- elif colour %}
    {%- set baseClasses = "govuk-tag--" + colour %}
  {%- else %}
    {%- set baseClasses = "govuk-tag--grey" %}
  {%- endif %}

  {%- set allClasses = baseClasses + (" " + additionalClasses if additionalClasses else "") %}
  {%- set displayText = labelsMap[value] or (value | capitalize) %}

  {%- if theme == "NONE" %}
    {{ displayText }}
  {%- else %}
    {{
      govukTag({
        text: displayText,
        classes: allClasses,
        attributes: attributes
      })
    }}
  {%- endif %}
{% endmacro %}
