{% macro defraUnorderedList(params, renderDefraComponent) %}
  {%- set items = params.items or [] %}
  {%- set classes = params.classes or 'govuk-list govuk-list--bullet' %}
  {%- set id = params.id or '' %}

  <ul{% if id %} id="{{ id }}"{% endif %} class="{{ classes }}">
    {% for item in items %}
      <li>
        {{ renderDefraComponent(item) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}