{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro defraWarningText(params) %}
  {%- set text = params.text or '' %}
  {%- set iconFallbackText = params.iconFallbackText or 'Warning' %}
  {%- set classes = params.classes or '' %}
  {%- set attributes = params.attributes or {} %}

  {{
    govukWarningText({
      text: text,
      iconFallbackText: iconFallbackText,
      classes: classes,
      attributes: attributes
    })
  }}
{% endmacro %}