{% from "./components/render-component.njk" import renderDefraComponent %}

{% if params and params.length > 0 %}
  {% for el in params %}
    {{ renderDefraComponent(el) }}
  {% endfor %}
{% else %}
  <p class="govuk-body">No content available.</p>
{% endif %}
