{% extends '../layouts/case-layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/case-summary/macro.njk" import caseSummary %}
{% from "../components/case-details-tab-navigation/macro.njk" import caseDetailsTabNavigation %}
{% from "../components/copy-to-clipboard/macro.njk" import copyToClipboard %}

{% macro dynamicTable(params) %}
  {%- set rows = params.rows or [] %}

  {# Extract column headers from first row #}
  {% set tableHead = [] %}
  {% if rows.length > 0 %}
    {% for columnName, columnData in rows[0] %}
      {% set headerCell = { text: columnData.label or columnName } %}
      {% set tableHead = (tableHead.push(headerCell), tableHead) %}
    {% endfor %}
  {% endif %}

  {# Transform rows data #}
  {% set tableRows = [] %}
  {% for row in rows %}
    {% set tableRow = [] %}
    {% for columnName, columnData in row %}
      {% set cellContent = renderTableCell(columnData) %}
      {% set tableCell = {
        html: cellContent
      } %}
      {% set tableRow = (tableRow.push(tableCell), tableRow) %}
    {% endfor %}
    {% set tableRows = (tableRows.push(tableRow), tableRows) %}
  {% endfor %}

  {{ govukTable({
    head: tableHead,
    rows: tableRows
  }) }}
{% endmacro %}

{% macro renderTableCell(cellData) %}
  {% if cellData.component == "text" %}
    {{ cellData.params.value }}
  {% elif cellData.component == "date" %}
    {{ cellData.params.value }}
  {% elif cellData.component == "url" %}
    <a href="{{ cellData.params.href }}"
       target="{{ cellData.params.target or '_self' }}"
       {% if cellData.params.rel %}rel="{{ cellData.params.rel }}"{% endif %}>
      {{ cellData.params.text }}
    </a>
  {% elif cellData.component == "copyToClipboard" %}
    {{ copyToClipboard({
      text: cellData.params.text,
      buttonText: cellData.params.buttonText,
      feedbackText: cellData.params.feedbackText
    }) }}
  {% elif cellData.component == "status" %}
    {{ govukTag({
      text: cellData.params.value,
      classes: cellData.params.classesMap[cellData.params.value] or "govuk-tag--grey"
    }) }}
  {% else %}
    {{ cellData.params.value or '' }}
  {% endif %}
{% endmacro %}

{% macro dynamicText(text, classes="") %}
  <p class="{{ classes }}">
    {{ text | safe }}
  </p>
{% endmacro %}


{% macro dynamicLabeledText(params) %}
  {%- set text = params.text or '' %}
  {%- set classes = params.classes or '' %}
  {%- set label = params.label or {} %}

  <p {% if classes %} class="{{ classes }}"{% endif %}>
    {% if label.text %}
      <span class="{{ label.classes or '' }}">{{ label.text }}</span>
      {% if text %} {% endif %}{# space between label and text #}
    {% endif %}
    {{ text | safe }}
  </p>
{% endmacro %}

{% macro dynamicHeading(params) %}
  {%- set text = params.text or '' %}
  {%- set level = (params.level | int) or 1 %}
  {%- set classes = params.classes or '' %}
  {%- set id = params.id or '' %}


  {%- if level < 1 or level > 6 %}{% set level = 1 %}{% endif %}

  {%- set defaultClasses = [
    "govuk-heading-xl",
    "govuk-heading-l",
    "govuk-heading-m",
    "govuk-heading-s",
    "govuk-heading-s",
    "govuk-heading-s"
  ] %}

<h{{ level }} class="{{ defaultClasses[level-1] }}{% if classes %} {{ classes }}{% endif %}">
  {{ text | safe }}
</h{{ level }}>
{% endmacro %}

{% macro dynamicUrl(params) %}
{%- set href = params.href or '#' %}
{%- set text = params.text or '' %}

<a href="{{ href | escape }}" target="_blank" rel="noopener noreferrer">
  {{ text | escape }}
</a>
{%- endmacro %}


{% macro dynamicList(params) %}
{%- set fields = params.fields or [] %}

{% set summaryRows = [] %}
  {% for field in fields %}
    {% set row = {
      key: { text: field.label },
      value: { text: field.params.value }
    } %}
    {% set summaryRows = (summaryRows.push(row), summaryRows) %}
  {% endfor %}

  {{ govukSummaryList({ rows: summaryRows }) }}

{%- endmacro %}

{% block content %}
  {{ caseSummary(data) }}

  <div class="govuk-body">
    {{ govukServiceNavigation({ navigation: data.links }) }}

    {% for el in data.content %}
      {% if el.component == "heading" %}
        {{ dynamicHeading(el) }}
      {% elif el.component == "text" %}
        {{ dynamicText(el.text, el.classes) }}
      {% elif el.component == "labeledText" %}
        {{ dynamicLabeledText(el) }}
      {% elif el.component == "list" %}
        {{ dynamicList(el) }}
      {% elif el.component == "table" %}
        {{ dynamicTable(el) }}
      {% else %}
        <div class="govuk-error-message">Unknown component: {{ el.component }}</div>
      {% endif %}
    {% endfor %}

    <pre>{{ data | dump(2) }}</pre>

  </div>
{% endblock %}
