{% from "govuk/components/tag/macro.njk" import govukTag %}

{% if params.tasks.length > 0 %}
  <ul class="govuk-list govuk-!-margin-bottom-4" data-testid="taskList-list">
    {% for task in params.tasks %}
      <li data-testid="taskList-li">
        <div class="govuk-grid-row govuk-!-margin-bottom-2">
          <div class="govuk-grid-column-three-quarters">
            <a href="{{ task.link }}" class="govuk-link">{{ task.label }}</a>
          </div>
          <div class="govuk-grid-column-one-quarter">
            {{
              govukTag({
                text: task.status | capitalize,
                classes: "govuk-tag--grey"
              })
            }}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
