{% from "govuk/components/tag/macro.njk" import govukTag %}

{% if params.taskSteps.length > 0 %}
  <h2
    class="govuk-heading-l govuk-!-margin-top-6"
    data-testid="taskList-heading"
  >
    Tasks
  </h2>

  {% for step in params.taskSteps %}
    <h3 class="govuk-heading-m">{{ loop.index }}. {{ step.heading }}</h3>
    <ul class="govuk-list govuk-!-margin-bottom-4" data-testid="taskList-list">
      {% for task in step.tasks %}
        <li data-testid="taskList-li">
          <div class="govuk-grid-row govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-three-quarters">
              <a href="{{ task.link }}" class="govuk-link">{{ task.label }}</a>
            </div>
            <div class="govuk-grid-column-one-quarter">
              {{
                govukTag({
                  text: task.status | capitalize,
                  classes: "govuk-tag--grey"
                })
              }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endif %}
