{# 
    caseId: <string>,
    taskId: <string>,
    groupId: <string>,
    stage: {
        groups: <array of task groups>
    }
#}

{% macro appTasksTab(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
