{% from "../taskGroups/macro.njk" import appTaskGroups %}
{% from "../taskDetails/macro.njk" import appTaskDetails %}

{% if params.taskId %}
  {{ appTaskDetails({caseId: params.caseId, stage: params.stage, groups: params.stage.groups, groupId: params.groupId, taskId: params.taskId }) }}
{% else %}
  {{ appTaskGroups({stage: params.stage}) }}
{% endif %}
