{% from "../taskListSteps/macro.njk" import appTaskListSteps %}
{% from "../taskList/macro.njk" import appTaskList %}

{% if params.taskSteps.length or params.tasks.length %}
  <h2
    class="govuk-heading-l govuk-!-margin-top-6"
    data-testid="taskListSteps-heading"
  >
    Tasks
  </h2>
{% endif %}

{{ appTaskListSteps({taskSteps: params.taskSteps}) }}
{{ appTaskList({tasks: params.tasks}) }}
