{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{%- from "../task-outcome-selector/macro.njk" import taskOutcomeSelector -%}

{%- set error = params.error -%}
{%- set formAction = params.formAction -%}
{%- set status = params.status -%}
{%- set statusOptions = params.statusOptions -%}
{%- set completed = params.completed -%}
{%- set commentInputDef = params.commentInputDef -%}
{%- set commentText = params.commentText -%}

<form method="post" id="completeTaskForm" action="{{ formAction }}">
  <div class="govuk-form-group">
    {{
      taskOutcomeSelector({
        status: status,
        statusOptions: statusOptions,
        completed: completed,
        errorMessage: error
      })
    }}
  </div>

  {% if commentInputDef %}
    {{
      govukTextarea({
        id: "comment",
        name: "comment",
        label: {
          text: commentInputDef.label,
          classes: "govuk-label--m"
        },
        hint: {
          text: commentInputDef.helpText
        },
        errorMessage: error
      })
    }}
  {% endif %}

  <div class="govuk-button-group">
    <button
      type="submit"
      data-prevent-double-click="true"
      data-testid="save-and-continue-button"
      class="govuk-button"
      data-module="govuk-button"
      data-govuk-button-init=""
    >
      Save and continue
    </button>
  </div>
</form>
