{%- from "../task-outcome-selector/macro.njk" import taskOutcomeSelector -%}

{%- set formAction = params.formAction -%}
{%- set status = params.status -%}
{%- set statusOptions = params.statusOptions -%}
{%- set completed = params.completed -%}
{%- set statusError = params.statusError -%}
{%- set caseLink = "/cases/" + params.caseId -%}

<form
  class="task-outcome-form"
  method="post"
  id="completeTaskForm"
  action="{{ formAction }}"
>
  {{
    taskOutcomeSelector({
      status: status,
      statusOptions: statusOptions,
      completed: completed,
      errorMessage: statusError
    })
  }}
  <button
    type="submit"
    data-prevent-double-click="true"
    data-testid="save-and-continue-button"
    class="govuk-button task-outcome-form__button"
    data-module="govuk-button"
    data-govuk-button-init=""
  >
    Confirm
  </button>
  <a
    href="{{ caseLink }}"
    class="govuk-link govuk-!-font-size-16"
    data-testid="back-link"
  >
    Cancel and return
  </a>
</form>
