@use "govuk-frontend" as *;

.defra-header {
  border-bottom: 8px solid #00a33b;
  padding: govuk-spacing(4) 0;
}

.defra-header__inner {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.defra-header__logo-link {
  display: flex;
  align-items: center;
  gap: 167px;
  border-left: 2px solid #00a33b;
  width: auto;
  height: 75px;
  text-decoration: none;
  padding-left: 2px;
}

.defra-header__logo-link img {
  width: 146px;
  height: auto;
}

.defra-header__service-name {
  font-size: 24px;
  font-weight: 400;
  color: #0b0c0c;
}
