{% extends "layouts/case-layout.njk" %}

{% block content %}
  {{ heading({ text: pageHeading }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>{{ message }}</p>
    </div>
  </div>
{% endblock %}
