{% extends '../layouts/case-layout.njk' %}
{% from "../components/case-summary/macro.njk" import appCaseSummary %}
{% from "../components/case-details-tab-navigation/macro.njk" import appCaseDetailsTabNavigation %}
{% from "../components/task-group/macro.njk" import appTaskGroup %}

{% block content %}
  {{ appCaseSummary({ case: data.case }) }}

  <div class="govuk-body">
    {{ appCaseDetailsTabNavigation({active: 'tasks', caseDataId: data.case.id }) }}

    {{ appTaskGroup({caseId: data.case.id, stage: data.stage }) }}
  </div>
{% endblock %}
