{% extends '../layouts/case-detail-layout.njk' %}
{% from "../components/task-group/macro.njk" import taskGroup %}

{% block contentMain %}
  {{ taskGroup({caseId: data.case._id, stage: data.stage, errors: errors, values: values, beforeContent: data.beforeContent }) }}
{% endblock %}
