{% extends '../layouts/case-detail-layout.njk' %}
{% from "../components/task-details/macro.njk" import taskDetails %}

{% block contentMain %}
  {{
    taskDetails({
      errorList: errorList,
      caseId: data.caseId,
      currentTask: data.currentTask,
      isInteractive: data.isInteractive
    })
  }}
{% endblock %}
