{% extends '../layouts/case-layout.njk' %}
{% from "../components/case-summary/macro.njk" import caseSummary %}
{% from "../components/task-details/macro.njk" import taskDetails %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block content %}
  {{ caseSummary(data) }}
  <div class="govuk-body">
    {{ govukServiceNavigation({ navigation: links }) }}

    {{
      taskDetails({
        errorList: errorList,
        caseId: data.case.id,
        phaseCode: data.case.currentPhase,
        stageCode: data.case.currentStage,
        taskGroupCode: data.taskGroupCode,
        currentTask: data.currentTask,
        comment: data.comment
      })
    }}
  </div>
{% endblock %}
