{% extends '../layouts/case-detail-layout.njk' %}
{% from "../components/dynamic-content/macro.njk" import dynamicContent %}

{% block pageContent %}
  {{ dynamicContent(data.content) }}
{% endblock %}
