{% extends '../layouts/case-detail-layout.njk' %}
{% from "../components/dynamic-content/macro.njk" import dynamicContent %}

{% block contentMain %}
  {% if data.beforeContent %}
    {{ dynamicContent(data.beforeContent) }}
  {% endif %}

  {{ dynamicContent(data.content) }}
{% endblock %}
