{#
    caseId: <string>,
    stageCode: <string>,
    taskGroupCode: <string>,
    taskCode: <string>,
    name: <string>,
    isComplete: <boolean>
#}

{% macro appTaskBoolean(params) %}
  {%- include "./task-boolean.template.njk" -%}
{% endmacro %}
