{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

<form
  method="post"
  id="completeTaskForm"
  action="{{ "/cases/" + params.caseId + "/stages/" + params.stageCode + "/task-groups/" + params.taskGroupId + "/tasks/" + params.taskId + "/status" }}"
>
  <div class="govuk-form-group">
    {{
      govukCheckboxes({
        name: "isComplete",
        items: [
          {
            value: true,
            id: "task-" + params.taskId,
            text: params.title,
            checked: params.isComplete
          }
        ]
      })
    }}
  </div>

  {% if params.comment %}
    {% if params.commentText %}
      {{
        govukTextarea({
          disabled: true,
          name: "comment",
          id: "comment",
          value: params.commentText,
          label: {
            text: params.comment.label,
            classes: "govuk-label--m"
          },
          hint: {
            text: params.comment.helpText
          }
        })
      }}
    {% else %}
      {{
        govukTextarea({
          errorMessage: params.error,
          name: "comment",
          id: "comment",
          label: {
            text: params.comment.label,
            classes: "govuk-label--m"
          },
          hint: {
            text: params.comment.helpText
          }
        })
      }}
    {% endif %}
  {% endif %}

  <div class="govuk-button-group">
    <button
      type="submit"
      data-prevent-double-click="true"
      data-testid="save-and-continue-button"
      class="govuk-button"
      data-module="govuk-button"
      data-govuk-button-init=""
    >
      Save and continue
    </button>
  </div>
</form>
