{% extends '../layouts/case-layout.njk' %}
{% from "../components/case-summary/macro.njk" import caseSummary %}
{% from "../components/case-details-tab-navigation/macro.njk" import caseDetailsTabNavigation %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ caseSummary(data) }}

  {% if errorList.length > 0 %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      })
    }}
  {% endif %}

  <div class="govuk-body">
    {{ caseDetailsTabNavigation({active: 'notes', caseId: data.caseId }) }}

    <form action="/cases/{{ data.caseId }}/notes" method="post">
      {{
        govukTextarea({
          name: "text",
          id: "text",
          value: data.formData.text,
          label: {
            text: "Add a note",
            classes: "govuk-label govuk-label--l govuk-!-margin-top-6",
            isPageHeading: yes
          },
          hint: {
            text: "All notes will be saved for auditing purposes"
          },
          errorMessage: errors.text and { text: errors.text }
        })
      }}

      {{
        govukButton({
          text: 'Save'
        })
      }}
    </form>
  </div>
{% endblock %}
