{% extends '../layouts/case-layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../components/case-summary/macro.njk" import caseSummary %}
{% from "../components/case-details-tab-navigation/macro.njk" import caseDetailsTabNavigation %}
{% from "../components/expandable-text/macro.njk" import expandableText %}

{% block content %}
  {{ caseSummary(data) }}

  <div class="govuk-body">
    {{ caseDetailsTabNavigation({active: 'notes', caseId: data.caseId }) }}

    <h2 class="govuk-heading-l govuk-!-margin-top-6">{{ pageHeading }}</h2>

    <a href="notes/new" class="govuk-button govuk-button--primary">
      Add note
    </a>

    {% if data.notes.rows.length > 0 %}
      {% set rows = [] %}
      {% for row in data.notes.rows %}
        {%
          set row = [
            {
              html: '<a id="note-' + row.createdAt.ref + '"></a>' + row.createdAt.text,
              attributes: row.createdAt.attributes,
              classes: row.createdAt.classes
            },
            row.type,
            {
              html: expandableText({
                ref: row.note.ref,
                href: row.note.href,
                text: row.note.text,
                isSelected: row.note.isSelected
              }),
              classes: row.note.classes
            },
            row.addedBy
          ]
        %}
        {% set rows = (rows.push(row), rows) %}
      {% endfor %}

      {{
        govukTable({
          attributes: { "data-module": "moj-sortable-table" },
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: false,
          head: data.notes.head,
          rows: rows
        })
      }}
    {% endif %}
  </div>
{% endblock %}
