{% extends '../layouts/case-layout.njk' %}
{% from "../components/case-summary/macro.njk" import caseSummary %}
{% from "../components/case-details-tab-navigation/macro.njk" import caseDetailsTabNavigation %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  {{ caseSummary(data) }}

  <div class="govuk-body">
    {{ caseDetailsTabNavigation({active: 'notes', caseId: data.caseId }) }}

    <h2 class="govuk-heading-l govuk-!-margin-top-6">{{ pageHeading }}</h2>

    <a href="notes/new" class="govuk-button govuk-button--primary">
      Add note
    </a>

    {% if data.notes.rows.length > 0 %}
      {{
        govukTable({
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: false,
          head: data.notes.head,
          rows: data.notes.rows
        })
      }}
    {% endif %}
  </div>
{% endblock %}
