{% extends 'layouts/page.njk' %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "../../common/components/taskGroups/macro.njk" import appTaskGroups %}
{% from "../../common/components/tasksTab/macro.njk" import appTasksTab %}
{% from "../../common/components/caseSummary/macro.njk" import appCaseSummary %}
{% from "../../common/components/applicationDetailsTab/applicationDetailsTabTemplate.njk" import applicationDetailsTab %}

{% block content %}
  {{ appCaseSummary({caseData: caseData}) }}

  {% set activeTab = query.tab | default('tasks') %}

  {{
    govukServiceNavigation({
      navigation: [
        {
          href: "?tab=tasks",
          text: "Tasks",
          active: activeTab == 'tasks'
        },
        {
          href: "?tab=application",
          text: "Application",
          active: activeTab == 'application'
        },
        {
          href: "#",
          text: "Land Details"
        }
      ]
    })
  }}

  {% if activeTab == 'tasks' %}
    {{ appTasksTab({stages: stages}) }}
  {% endif %}

  {% if activeTab == 'application' %}
    {{ applicationDetailsTab({caseData: caseData}) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock %}
