<div
  class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox"
>
  <input
    type="checkbox"
    class="govuk-checkboxes__input"
    id="{{ id }}"
    name="{{ name }}"
    value="{{ value }}"
  />
  <label class="govuk-label govuk-checkboxes__label" for="{{ id }}">
    <span class="govuk-visually-hidden">Select {{ label }}</span>
  </label>
</div>
