{# 
    caseId: <string>,
    groupId: <string>,
    taskId: <string>,
    currentTask: <task to display>
    groups: <array of task groups>
#}

{% macro appTaskDetails(params) %}
  {%- include "./task-details.template.njk" -%}
{% endmacro %}
