{#
    caseId: <string>,
    taskGroupId: <string>,
    taskId: <string>,
    taskGroups: <array of task groups>
#}

{% macro appTaskDetails(params) %}
  {%- include "./task-details.template.njk" -%}
{% endmacro %}
