{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "../../partials/task-boolean/macro.njk" import appTaskBoolean %}

{% set caseLink = "/cases/" + params.caseId %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{
      govukBackLink({
        text: "Back to task list",
        href: caseLink,
        attributes: {
          "data-testid": "back-link"
        }
      })
    }}

    {% if params.errorList.length %}
      {{
        govukErrorSummary({
          titleText: "There is a problem",
          errorList: params.errorList
        })
      }}
    {% endif %}

    <h2
      class="govuk-heading-l govuk-!-margin-top-6"
      data-testid="task-details-heading"
    >
      {{ params.currentTask.name }}
    </h2>

    {% if params.currentTask.status === "COMPLETE" %}
      <p class="govuk-inset-text">
        This task was completed by {{ params.currentTask.updatedBy }} on
        {{ params.currentTask.updatedAt | formatDate("EEE do MMMM yyyy") }} at
        {{ params.currentTask.updatedAt | formatDate("hh:mm a") }}
      </p>

      {% if params.comment.text %}
        <div class="form-group">
          <h2 class="govuk-heading-m">Outcome review note</h2>
          <p>{{ params.comment.text }}</p>
        </div>
      {% endif %}
    {% elif params.currentTask.type === "boolean" %}
      {{
        appTaskBoolean({
          error: params.errorList.length,
          caseId: params.caseId,
          stageCode: params.stageCode,
          taskGroupCode: params.taskGroupCode,
          taskCode: params.currentTask.code,
          isComplete: params.currentTask.isComplete,
          comment: params.currentTask.comment,
          commentText: params.comment.text,
          name: params.currentTask.name
        })
      }}
    {% endif %}
  </div>
</div>
