{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "components/dynamic-content/macro.njk" import dynamicContent %}
{% from "../task-outcome-form/macro.njk" import taskOutcomeForm %}

{% set caseLink = "/cases/" + params.caseId %}

{%- set errorList = params.errorList -%}
{%- set caseId = params.caseId -%}
{%- set currentTask = params.currentTask -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{
      govukBackLink({
        text: "Back to task list",
        href: caseLink,
        attributes: {
          "data-testid": "back-link"
        }
      })
    }}

    {% if errorList.length %}
      {{
        govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        })
      }}
    {% endif %}

    {{ dynamicContent(currentTask.description) }}

    {% if currentTask.completed %}
      <p class="govuk-inset-text">
        This task was completed by {{ currentTask.updatedBy }} on
        {{ currentTask.updatedAt | formatDate("EEE do MMMM yyyy") }} at
        {{ currentTask.updatedAt | formatDate("hh:mm a") }}
      </p>

      {% if currentTask.comment and currentTask.comment.text %}
        <div class="form-group">
          <h2 class="govuk-heading-m">Outcome review note</h2>
          <p>{{ currentTask.comment.text }}</p>
        </div>
      {% endif %}
    {% elif currentTask.canCompleteTask %}
      {{
        taskOutcomeForm({
          error: errorList.length,
          formAction: currentTask.formAction,
          statusOptions: currentTask.statusOptions,
          status: currentTask.status,
          completed: currentTask.completed,
          commentInputDef: currentTask.commentInputDef,
          commentText: currentTask.comment.text if currentTask.comment else ''
        })
      }}
    {% elif not currentTask.canCompleteTask and currentTask.requiredRoles %}
      {# Display required roles in a details component #}
      <p>You cannot complete this task.</p>
      {% set rolesHtml %}
        <p>Someone who is a:</p>
        {# Display "All of" roles #}
        {% if currentTask.requiredRoles.allOf and currentTask.requiredRoles.allOf.length %}
          <div class="govuk-!-margin-bottom-3">
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-1">
              {% for role in currentTask.requiredRoles.allOf %}
                <li>{{ role }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {# Display "Any of" roles #}
        {% if currentTask.requiredRoles.anyOf and currentTask.requiredRoles.anyOf.length %}
          <div>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-1">
              {% for role in currentTask.requiredRoles.anyOf %}
                <li>{{ role }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endset %}

      {{
        govukDetails({
        summaryText: "Who can complete the task",
        html: rolesHtml
        })
      }}
    {% endif %}
  </div>
</div>
