{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{%- set status = params.status -%}
{%- set statusOptions = params.statusOptions -%}
{%- set completed = params.completed -%}
{%- set errorMessage = params.errorMessage -%}
{%- set isDisabled = params.isDisabled -%}

{% if statusOptions and statusOptions.length > 0 %}
  {% set radioItems = [] %}
  {% for option in statusOptions %}
    {%
      set radioItems = (radioItems.push({
        value: option.code,
        text: option.name,
        checked: option.code === status,
        disabled: isDisabled
      }), radioItems)
    %}
  {% endfor %}

  {% if isDisabled %}
    {{
      govukRadios({
        name: "status",
        fieldset: {
          legend: {
            text: "Select outcome",
            classes: "govuk-fieldset__legend--m"
          },
          attributes: {
            "aria-disabled": "true"
          }
        },
        items: radioItems,
        errorMessage: errorMessage
      })
    }}
  {% else %}
    {{
      govukRadios({
        name: "status",
        fieldset: {
          legend: {
            text: "Select outcome",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: radioItems,
        errorMessage: errorMessage
      })
    }}
  {% endif %}
{% else %}
  {% if isDisabled %}
    {{
      govukCheckboxes({
        name: "completed",
        fieldset: {
          attributes: {
            "aria-disabled": "true"
          }
        },
        items: [
          {
            value: true,
            id: "task-completed",
            text: "Completed",
            checked: completed,
            disabled: isDisabled
          }
        ]
      })
    }}
  {% else %}
    {{
      govukCheckboxes({
        name: "completed",
        items: [
          {
            value: true,
            id: "task-completed",
            text: "Completed",
            checked: completed
          }
        ]
      })
    }}
  {% endif %}
{% endif %}
