{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../taskBoolean/macro.njk" import appTaskBoolean %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{
      govukBackLink({
        text: "Back to task list",
        href: "/case/" + params.caseId,
        attributes: {
          "data-testid": "back-link"
        }
      })
    }}
    {% set taskTitle = params.currentTask.title %}
    {% set taskType = params.currentTask.type %}
    <h2
      class="govuk-heading-l govuk-!-margin-top-6"
      data-testid="task-details-heading"
    >
      {{ taskTitle }}
    </h2>

    {% if taskType === "boolean" %}
      {{ appTaskBoolean({ caseId:params.caseId, groupId:params.groupId, taskId:params.taskId, description:params.currentTask.description, isComplete: params.currentTask.isComplete}) }}
    {% endif %}
  </div>
</div>
