{% extends '../../cases/views/layouts/case-layout.njk' %}
{% from '../../cases/views/components/case-summary/macro.njk' import caseSummary %}
{% from 'govuk/components/service-navigation/macro.njk' import govukServiceNavigation %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block content %}
  {{ caseSummary(data) }}

  {{
    govukServiceNavigation({
      navigation: data.links,
      classes: "govuk-!-margin-bottom-6"
    })
  }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{
          govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          })
        }}
      {% endif %}

      <form
        action="/cases/{{ data.caseId }}/components/edit"
        method="post"
        novalidate
      >
        {{
          govukTextarea({
            name: "jsonPayload",
            id: "jsonPayload",
            value: data.formData.jsonPayload,
            label: {
              text: "Dynamic content JSON",
              classes: "govuk-label--l",
              isPageHeading: yes
            },
            hint: {
              html: "Paste an array of component definitions to render on the Components tab. <a href=\"https://github.com/DEFRA/fg-cw-frontend/blob/main/docs/dynamic-components.md\" target=\"_blank\" rel=\"noreferrer noopener\">Component Docs</a>"
            },
            errorMessage: errors.jsonPayload and { text: errors.jsonPayload },
            rows: 10
          })
        }}

        {{
          govukButton({
            text: "Render components"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
