{% extends '../../cases/views/layouts/case-layout.njk' %}
{% from '../../cases/views/components/case-summary/macro.njk' import caseSummary %}
{% from 'govuk/components/service-navigation/macro.njk' import govukServiceNavigation %}
{% from '../../cases/views/components/dynamic-content/macro.njk' import dynamicContent %}

{% block content %}
  {{ caseSummary(data) }}

  {{
    govukServiceNavigation({
      navigation: data.links,
      classes: "govuk-!-margin-bottom-6"
    })
  }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ dynamicContent(data.content) }}

      <hr />
      <p class="govuk-body">
        <a class="govuk-link" href="/cases/{{ data.caseId }}/components/edit">
          Edit Components
        </a>
      </p>
    </div>
  </div>
{% endblock %}
