{% from "govuk/components/tag/macro.njk" import govukTag %}

{% if params.tasks.length > 0 %}
  <ul
    class="govuk-task-list govuk-!-margin-bottom-4"
    data-testid="taskList-list"
  >
    {% for task in params.tasks %}
      <li
        class="govuk-task-list__item govuk-task-list__item--with-link"
        data-testid="taskList-li"
      >
        <div class="govuk-task-list__name-and-hint">
          <a href="{{ task.link }}" class="govuk-link govuk-task-list__link"
            >{{ task.title }}</a
          >
        </div>
        <div class="govuk-task-list__status">
          {{
            govukTag({
              text: task.status | capitalize,
              classes: "govuk-tag govuk-tag--blue"
            })
          }}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
